* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: rgb(163, 207, 248);
}

body {
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
  }
}
